@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Lato:wght@400;500&display=swap');

@import "tailwindcss";
